
<hgroup class="mb20">
<br><br>

<h1>Publicaciones encontradas</h1>
<h2 class="lead"><strong class="text-danger"><%=@contracts.total_entries%></strong> resultados fueron encontrados para la busqueda</h2>								
</hgroup>
<section class="col-xs-12 col-sm-6 col-md-12 mb20 list-group">


<p>
  Bajar:
  <%= link_to "CSV", contracts_path(format: "csv") %> |
  <%= link_to "Excel", @excel_path %>
</p>

<% @contracts.each do |contract| %>
	<article class="search-result row list-group-item">
		<div class="col-xs-12 col-sm-12 col-md-4">
			<ul class="meta-search">
				<li><h2><small><i class="glyphicon glyphicon-calendar"></i>
					Fecha publicación: <b><%= contract.publication_date %></b></small></h2></li>
				<li><h2><small><i class="glyphicon glyphicon-home"></i>Entidad publicación: <br><b class="text-info"><%= contract.entity.name %></b></h2></small></li>
				<li><h2><small><i class="glyphicon glyphicon-asterisk"></i>
				Estado: <b> <%= contract.status.name %></b></small></h2></li>
				<li><h2><small><i class="glyphicon glyphicon-usd"></i>
				Monto especificado: <b> <%= contract.specified_amount %></b></small></h2></li>
			</ul>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-8 excerpet">
			<h2><a href="/contracts/<%=contract.id%>" title="">
				<%= contract.description.camelize %>
			</a></h2>
			<br>
			
            <span style="position: static; left: 0;" class="plus"><a href="#" title="Mas info" style="color: white;"><a href="/contracts/<%=contract.id%>" title="">Mas info<i class="glyphicon glyphicon-plus"></i></a></span>
		</div>
		<span class="clearfix borda"></span>
		<br><br>
	</article>	

<% end %>
</section>



<%= will_paginate @contracts, renderer: BootstrapPagination::Rails, :previous_label => 'Anteriores', :next_label => 'Siguientes' %>