<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
      <Cell><Data ss:Type="String">Origin</Data></Cell>
      <Cell><Data ss:Type="String">Entity</Data></Cell>
      <Cell><Data ss:Type="String">Mode</Data></Cell>
      <Cell><Data ss:Type="String">Control number</Data></Cell>
      <Cell><Data ss:Type="String">Publication number</Data></Cell>
      <Cell><Data ss:Type="String">Description</Data></Cell>
      <Cell><Data ss:Type="String">Status</Data></Cell>
      <Cell><Data ss:Type="String">Contracted amount cents</Data></Cell>
      <Cell><Data ss:Type="String">Contracted amount currency</Data></Cell>
      <Cell><Data ss:Type="String">Publication date</Data></Cell>
      <Cell><Data ss:Type="String">Presentation date</Data></Cell>
      <Cell><Data ss:Type="String">Contact</Data></Cell>
      <Cell><Data ss:Type="String">Warranty</Data></Cell>
      <Cell><Data ss:Type="String">Specification price</Data></Cell>
      <Cell><Data ss:Type="String">Aclaration date</Data></Cell>
      <Cell><Data ss:Type="String">Granted date</Data></Cell>
      <Cell><Data ss:Type="String">Abandonment date</Data></Cell>
      <Cell><Data ss:Type="String">Region</Data></Cell>
      <Cell><Data ss:Type="String">Regulation</Data></Cell>
    </Row>
    <% @contracts.each do |contract| %>
    
      <Row>
        <Cell><Data ss:Type="String"><%= contract.origin_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.entity.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.mode.origin_code %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.control_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.publication_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.status.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.contracted_amount_cents %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.contracted_amount_currency %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.publication_date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.presentation_date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.contact %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.warranty %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.specification_price %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.aclaration_date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.granted_date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.abandonment_date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.region.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= contract.regulation.origin_code %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>