
 <div id="blue">
      <div class="container">
      <div class="row">
        <h3 style="float: right;">INVESTIGACIÓN.</h3>
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /blue -->

   <div class="container mtb">
    <div class="row">
      <div class="col-lg-12">



	<%= javascript_include_tag "bar-chart-db32b32d945ab1f5a12d108039bdd883.min" %>
	<%= javascript_include_tag "default-5baee189e1a2f0bf680f4910cc958098.min" %>
	<%= javascript_include_tag "chart-753c771b6f0ebc215cab76b0fca5e03aab20b743.min" %>

<div class="dw-chart-header" id="header">
    
        <h1 >
        <span class="chart-title">Publicidad de instituciones públicas en medios </span>
    </h1>

        <p class="chart-intro">La mayor concentración de publicidad de las instituciones públicas está en medios televisivos. El canal estatal  Bolivia TV es el segundo en recibir mayor cantidad de dinero por publicidad en los últimos cinco años, siguiendo a la televisora privada Red Uno de Bolivia. 
Solo dos medios impresos como La Razón y El Deber figuran en la lista de los contratos más costosos, mientras que Panaméricana es la única radio privada que está en la lista. </p>


    </div>


		<div class="dw-chart-body" id="chart1"></div>

		<div class="dw-chart-footer" id="footer">
		            <div class="footer-left">
		                        <a href="data.csv">Bajar Datos</a>
		        </div>
		        <div class="footer-right">
		            Created with <a href="datawrapper.de" target="_blank">Datawrapper</a>
		        </div>
		    </div>

		        <script type="text/javascript" charset="utf-8">

		    if (document.getElementsByTagName('script').length > 0) $('body').addClass('js');

		    __dw.init({
		        chartJSON: JSON.parse('{\"id\":\"rw2Hq\",\"title\":\"Publicidad de instituciones p\\u00fablicas en medios&nbsp;\",\"theme\":\"default\",\"createdAt\":\"2015-11-02 22:17:38\",\"lastModifiedAt\":\"2015-11-02 23:20:07\",\"type\":\"bar-chart\",\"metadata\":{\"data\":{\"transpose\":false,\"vertical-header\":true,\"horizontal-header\":true,\"changes\":[{\"row\":4,\"column\":0,\"value\":\"ECOR LTDA TELEORIENTE\"},{\"row\":7,\"column\":0,\"value\":\"LA RAZON\"},{\"row\":7,\"column\":0,\"value\":\"La Razon\"},{\"row\":8,\"column\":0,\"value\":\"Bolivision\"},{\"row\":4,\"column\":0,\"value\":\"\"},{\"row\":4,\"column\":0,\"value\":\"Ecor Teleoriente\"}]},\"visualize\":{\"highlighted-series\":[],\"highlighted-values\":[],\"filter-missing-values\":true,\"show-total\":true,\"custom-total\":false,\"group-slice-after\":\"5\",\"sort-asc\":true,\"sortable\":true,\"normalize\":false,\"direct-labeling\":false,\"legend-position\":\"right\",\"show-grid\":false,\"fill-between\":false,\"line-mode\":\"straight\",\"scale-y1\":\"linear\",\"user-change-scale\":false,\"ignore-missing-values\":false,\"grid-lines\":false,\"sort-values\":true,\"base-color\":1},\"describe\":{\"source-name\":\"\",\"source-url\":\"\",\"number-format\":\"-\",\"number-divisor\":0,\"number-append\":\"\",\"number-prepend\":\"\",\"intro\":\"La mayor concentraci\\u00f3n de publicidad de las instituciones p\\u00fablicas est\\u00e1 en medios televisivos. El canal estatal  Bolivia TV es el segundo en recibir mayor cantidad de dinero por publicidad en los \\u00faltimos cinco a\\u00f1os, siguiendo a la televisora privada Red Uno de Bolivia. \\nSolo dos medios impresos como La Raz\\u00f3n y El Deber figuran en la lista de los contratos m\\u00e1s costosos, mientras que Panam\\u00e9ricana es la \\u00fanica radio privada que est\\u00e1 en la lista. \"},\"publish\":{\"embed-width\":\"500\",\"embed-height\":\"600\",\"background\":\"#ffffff\",\"text\":\"#000000\"}},\"authorId\":43172,\"showInGallery\":false,\"language\":null,\"guestSession\":null,\"lastEditStep\":5,\"publishedAt\":\"2015-11-02 23:20:12\",\"publicUrl\":\"https:\\/\\/charts.datawrapper.de\\/rw2Hq\\/index.html\",\"publicVersion\":2,\"organizationId\":null,\"forkedFrom\":\"5BkXn\"}'),
		        chartLocale: 'es-ES',
		        themeId: 'default',
		        visId: 'bar-chart',
		        visJSON: JSON.parse('\x7B\x22id\x22\x3A\x22bar\x2Dchart\x22,\x22title\x22\x3A\x22Bar\x20Chart\x22,\x22version\x22\x3A\x221.7.8\x22,\x22extends\x22\x3A\x22raphael\x2Dchart\x22,\x22order\x22\x3A5,\x22dimensions\x22\x3A1,\x22axes\x22\x3A\x7B\x22labels\x22\x3A\x7B\x22accepts\x22\x3A\x5B\x22text\x22,\x22date\x22\x5D\x7D,\x22bars\x22\x3A\x7B\x22accepts\x22\x3A\x5B\x22number\x22\x5D,\x22multiple\x22\x3Atrue\x7D\x7D,\x22options\x22\x3A\x7B\x22base\x2Dcolor\x22\x3A\x7B\x22type\x22\x3A\x22base\x2Dcolor\x22,\x22label\x22\x3A\x22Base\x20color\x22\x7D,\x22sort\x2Dvalues\x22\x3A\x7B\x22type\x22\x3A\x22checkbox\x22,\x22label\x22\x3A\x22Autmatically\x20sort\x20bars\x22\x7D,\x22reverse\x2Dorder\x22\x3A\x7B\x22type\x22\x3A\x22checkbox\x22,\x22label\x22\x3A\x22Reverse\x20order\x22\x7D,\x22negative\x2Dcolor\x22\x3A\x7B\x22type\x22\x3A\x22checkbox\x22,\x22label\x22\x3A\x22Use\x20different\x20color\x20for\x20negative\x20values\x22,\x22depends\x2Don\x22\x3A\x7B\x22chart.min_value\x5Bcolumns\x5D\x22\x3A\x22\x3C0\x22\x7D\x7D,\x22absolute\x2Dscale\x22\x3A\x7B\x22type\x22\x3A\x22checkbox\x22,\x22label\x22\x3A\x22Use\x20the\x20same\x20scale\x20for\x20all\x20columns\x22\x7D,\x22filter\x2Dmissing\x2Dvalues\x22\x3A\x7B\x22type\x22\x3A\x22checkbox\x22,\x22default\x22\x3Atrue,\x22label\x22\x3A\x22Filter\x20missing\x20values\x22\x7D\x7D,\x22libraries\x22\x3A\x5B\x5D,\x22__static_path\x22\x3A\x22assets\x5C\x2Fplugins\x5C\x2Fvisualization\x2Dbar\x2Dchart\x5C\x2F\x22,\x22__plugin\x22\x3A\x22visualization\x2Dbar\x2Dchart\x22,\x22icon\x22\x3A\x22\x3C\x3Fxml\x20version\x3D\x5C\x221.0\x5C\x22\x20encoding\x3D\x5C\x22utf\x2D8\x5C\x22\x3F\x3E\x5Cn\x3C\x21\x2D\x2D\x20Generator\x3A\x20Adobe\x20Illustrator\x2016.2.1,\x20SVG\x20Export\x20Plug\x2DIn\x20.\x20SVG\x20Version\x3A\x206.00\x20Build\x200\x29\x20\x20\x2D\x2D\x3E\x5Cn\x3C\x21DOCTYPE\x20svg\x20PUBLIC\x20\x5C\x22\x2D\x5C\x2F\x5C\x2FW3C\x5C\x2F\x5C\x2FDTD\x20SVG\x201.1\x20Basic\x5C\x2F\x5C\x2FEN\x5C\x22\x20\x5C\x22http\x3A\x5C\x2F\x5C\x2Fwww.w3.org\x5C\x2FGraphics\x5C\x2FSVG\x5C\x2F1.1\x5C\x2FDTD\x5C\x2Fsvg11\x2Dbasic.dtd\x5C\x22\x3E\x5Cn\x3Csvg\x20version\x3D\x5C\x221.1\x5C\x22\x20baseProfile\x3D\x5C\x22basic\x5C\x22\x20id\x3D\x5C\x22Ebene_1\x5C\x22\x5Cn\x5Ct\x20xmlns\x3D\x5C\x22http\x3A\x5C\x2F\x5C\x2Fwww.w3.org\x5C\x2F2000\x5C\x2Fsvg\x5C\x22\x20xmlns\x3Axlink\x3D\x5C\x22http\x3A\x5C\x2F\x5C\x2Fwww.w3.org\x5C\x2F1999\x5C\x2Fxlink\x5C\x22\x20x\x3D\x5C\x220px\x5C\x22\x20y\x3D\x5C\x220px\x5C\x22\x20width\x3D\x5C\x22100px\x5C\x22\x20height\x3D\x5C\x22100px\x5C\x22\x5Cn\x5Ct\x20viewBox\x3D\x5C\x220\x200\x20100\x20100\x5C\x22\x20xml\x3Aspace\x3D\x5C\x22preserve\x5C\x22\x3E\x5Cn\x3Crect\x20x\x3D\x5C\x2211\x5C\x22\x20y\x3D\x5C\x2211.291\x5C\x22\x20width\x3D\x5C\x2238\x5C\x22\x20height\x3D\x5C\x2211.348\x5C\x22\x5C\x2F\x3E\x5Cn\x3Crect\x20x\x3D\x5C\x2211\x5C\x22\x20y\x3D\x5C\x2227.952\x5C\x22\x20width\x3D\x5C\x2264\x5C\x22\x20height\x3D\x5C\x2211.347\x5C\x22\x5C\x2F\x3E\x5Cn\x3Crect\x20x\x3D\x5C\x2211\x5C\x22\x20y\x3D\x5C\x2244.612\x5C\x22\x20width\x3D\x5C\x2280\x5C\x22\x20height\x3D\x5C\x2211.347\x5C\x22\x5C\x2F\x3E\x5Cn\x3Crect\x20x\x3D\x5C\x2211\x5C\x22\x20y\x3D\x5C\x2261.272\x5C\x22\x20width\x3D\x5C\x2254\x5C\x22\x20height\x3D\x5C\x2211.348\x5C\x22\x5C\x2F\x3E\x5Cn\x3Crect\x20x\x3D\x5C\x2211\x5C\x22\x20y\x3D\x5C\x2277.933\x5C\x22\x20width\x3D\x5C\x2243\x5C\x22\x20height\x3D\x5C\x2211.348\x5C\x22\x5C\x2F\x3E\x5Cn\x3C\x5C\x2Fsvg\x3E\x5Cn\x22,\x22hasCSS\x22\x3Atrue,\x22locale\x22\x3A\x5B\x5D\x7D'),
		        metricPrefix: JSON.parse('\x7B\x223\x22\x3A\x22k\x22,\x226\x22\x3A\x22m\x22,\x229\x22\x3A\x22b\x22,\x2212\x22\x3A\x22t\x22\x7D'),
		        lang: 'es',
		        data: "Empresa\t2010\t2011\t2012\t2013\t2014\t2015\tTotal general\nRed Uno de Bolivia \t5696437.63\t4317948.342\t7197023.78\t8818410.64\t10265988.85\t6816130.08\t43111939.32\nBolivia TV\t9212612.08\t9277176.51\t9545646.87\t9407169\t3591641\t1459060\t42493305.46\nIllimani de Comunicaciones\t6254780.34\t4365161.99\t6950162.05\t11638887.18\t8353105.44\t521936.5\t38084033.5\nEcor Teleoriente \t517410\t1041209.5\t4509827.65\t10089090.57\t6466249\t5947903.9\t28571690.62\nComercializadora Multimedia del Sur\t\t\t895800\t6819948.08\t6410379.88\t612913.2\t14739041.16\nRadiodifusoras Populares S A\t2098813.17\t1877688.49\t2960133.26\t4200122.09\t2439725\t725344\t14301826.01\nLa Razon \t1341211\t1902579.28\t2292504.5\t4256433.28\t924452\t\t10717180.06\nBolivision.\t2162268.58\t2566065.05\t3419971.6\t1902605.34\t80027.6\t\t10130938.17\nComunicaciones El Pais \t988393\t568022.5\t560682\t2342974.6\t3331702\t980798\t8772572.1\nGigavision La Paz \t1756404.76\t1470832.08\t1736832\t2936621\t627639\t26040\t8554368.84\nAntena Uno Canal 6\t4129.1\t\t150000\t1429260.68\t3229636.2\t3197310\t8010335.98\nMahs Srl\t\t\t736400\t1112882.72\t3067202\t2498990\t7415474.72\nRed ATB\t3813435.32\t1883075.53\t672763\t131982\t\t\t6501255.85\nMegavision SRL\t250978.4\t201051.6\t866610.56\t712394.67\t1907614.34\t1668105\t5606754.57\nRadio Panamericana Somera\t896301.16\t627899.02\t1712504.8\t1336710.26\t318194.6\t\t4891609.84\nCarlos Alberto Subirana Suarez \t180000\t624104\t45152\t2249800\t1350000\t\t4449056\nAdministradora de Television \t\t1751205.64\t2574189.47\t\t\t\t4325395.11\nTelesistema Boliviano \t1958455.77\t2158039.83\t\t\t\t\t4116495.6\nEl Deber SA\t\t\t\t1881711\t852213\t1362912\t4096836\nATB Santa Cruz \t70000.5\t266940\t310582.2\t806400\t1108800\t1144337.76\t3707060.46"
		    });

		    </script>

      </div>

    </div><! --/row -->

        <div class="row">
			<div class="col-lg-12">


	<%= javascript_include_tag "bar-chart-db32b32d945ab1f5a12d108039bdd8832.min" %>
	<%= javascript_include_tag "default-5baee189e1a2f0bf680f4910cc9580982.min" %>
	<%= javascript_include_tag "chart-753c771b6f0ebc215cab76b0fca5e03aab20b7432.min" %>

<div class="dw-chart-header" id="header">
    
        <h1 >
        <span class="chart-title">LAS QUE MÁS GASTAN EN PUBLICIDAD </span>
    </h1>

        <p class="chart-intro">El Gobierno Autónomo Municipal de Santa Cruz es la institución pública que más gasta en publicidad en todo el país. En los últimos cinco años llegó a erogar 26.551.710,70 bolivianos. Su presupuesto está por encima de ministerios y gobernaciones. A ella le sigue la empresa estatal Yacimientos Petrolíferos Fiscales Bolivianos. 
Otros municipios como el de La Paz y Cochabamba también tienen presupuestos considerables para publicidad en medios de comunicación. </p>


    </div>



<div class="dw-chart-body" id="chart"></div>

<div class="dw-chart-footer" id="footer">
            <div class="footer-left">
                        <a href="data.csv">Get the data</a>
        </div>
        <div class="footer-right">
            Created with <a href="datawrapper.de" target="_blank">Datawrapper</a>
        </div>
    </div>

        <script type="text/javascript" charset="utf-8">

    if (document.getElementsByTagName('script').length > 0) $('body').addClass('js');

    __dw.init({
        chartJSON: JSON.parse('{\"id\":\"QVzKK\",\"title\":\"LAS QUE M\\u00c1S GASTAN EN PUBLICIDAD&nbsp;\",\"theme\":\"default\",\"createdAt\":\"2015-11-02 23:47:38\",\"lastModifiedAt\":\"2015-11-03 00:08:37\",\"type\":\"bar-chart\",\"metadata\":{\"data\":{\"transpose\":false,\"vertical-header\":true,\"horizontal-header\":true},\"visualize\":{\"highlighted-series\":[],\"highlighted-values\":[],\"filter-missing-values\":true,\"map\":\"1-world\",\"map-path\":\"plugins\\/visualization-maps\\/maps\\/1-world\",\"gradient\":{\"classes-number\":5,\"class-limit-mode\":\"equidistant\",\"domain\":[40000,2742916,5445832,8148748,10851664,13554580],\"range\":{\"min\":40000,\"max\":13554580},\"custom-limits\":[],\"colors\":[\"#fefaca\",\"#008b15\"],\"chromajs-constructor\":\"chroma.scale([\\\"#fefaca\\\",\\\"#008b15\\\"]).domain([40000,2742916,5445832,8148748,10851664,13554580]).mode(\'lab\');\"},\"base-color\":1},\"describe\":{\"source-name\":\"\",\"source-url\":\"\",\"number-format\":\"-\",\"number-divisor\":0,\"number-append\":\"\",\"number-prepend\":\"\",\"intro\":\"El Gobierno Aut\\u00f3nomo Municipal de Santa Cruz es la instituci\\u00f3n p\\u00fablica que m\\u00e1s gasta en publicidad en todo el pa\\u00eds. En los \\u00faltimos cinco a\\u00f1os lleg\\u00f3 a erogar 26.551.710,70 bolivianos. Su presupuesto est\\u00e1 por encima de ministerios y gobernaciones. A ella le sigue la empresa estatal Yacimientos Petrol\\u00edferos Fiscales Bolivianos. \\nOtros municipios como el de La Paz y Cochabamba tambi\\u00e9n tienen presupuestos considerables para publicidad en medios de comunicaci\\u00f3n. \"},\"publish\":{\"embed-width\":\"600\",\"embed-height\":\"500\",\"background\":\"#ffffff\",\"text\":\"#000000\"}},\"authorId\":43172,\"showInGallery\":false,\"language\":null,\"guestSession\":null,\"lastEditStep\":5,\"publishedAt\":\"2015-11-03 00:08:42\",\"publicUrl\":\"https:\\/\\/charts.datawrapper.de\\/QVzKK\\/index.html\",\"publicVersion\":1,\"organizationId\":null,\"forkedFrom\":null}'),
        chartLocale: 'es-ES',
        themeId: 'default',
        visId: 'bar-chart',
        visJSON: JSON.parse('\x7B\x22id\x22\x3A\x22bar\x2Dchart\x22,\x22title\x22\x3A\x22Bar\x20Chart\x22,\x22version\x22\x3A\x221.7.8\x22,\x22extends\x22\x3A\x22raphael\x2Dchart\x22,\x22order\x22\x3A5,\x22dimensions\x22\x3A1,\x22axes\x22\x3A\x7B\x22labels\x22\x3A\x7B\x22accepts\x22\x3A\x5B\x22text\x22,\x22date\x22\x5D\x7D,\x22bars\x22\x3A\x7B\x22accepts\x22\x3A\x5B\x22number\x22\x5D,\x22multiple\x22\x3Atrue\x7D\x7D,\x22options\x22\x3A\x7B\x22base\x2Dcolor\x22\x3A\x7B\x22type\x22\x3A\x22base\x2Dcolor\x22,\x22label\x22\x3A\x22Base\x20color\x22\x7D,\x22sort\x2Dvalues\x22\x3A\x7B\x22type\x22\x3A\x22checkbox\x22,\x22label\x22\x3A\x22Autmatically\x20sort\x20bars\x22\x7D,\x22reverse\x2Dorder\x22\x3A\x7B\x22type\x22\x3A\x22checkbox\x22,\x22label\x22\x3A\x22Reverse\x20order\x22\x7D,\x22negative\x2Dcolor\x22\x3A\x7B\x22type\x22\x3A\x22checkbox\x22,\x22label\x22\x3A\x22Use\x20different\x20color\x20for\x20negative\x20values\x22,\x22depends\x2Don\x22\x3A\x7B\x22chart.min_value\x5Bcolumns\x5D\x22\x3A\x22\x3C0\x22\x7D\x7D,\x22absolute\x2Dscale\x22\x3A\x7B\x22type\x22\x3A\x22checkbox\x22,\x22label\x22\x3A\x22Use\x20the\x20same\x20scale\x20for\x20all\x20columns\x22\x7D,\x22filter\x2Dmissing\x2Dvalues\x22\x3A\x7B\x22type\x22\x3A\x22checkbox\x22,\x22default\x22\x3Atrue,\x22label\x22\x3A\x22Filter\x20missing\x20values\x22\x7D\x7D,\x22libraries\x22\x3A\x5B\x5D,\x22__static_path\x22\x3A\x22assets\x5C\x2Fplugins\x5C\x2Fvisualization\x2Dbar\x2Dchart\x5C\x2F\x22,\x22__plugin\x22\x3A\x22visualization\x2Dbar\x2Dchart\x22,\x22icon\x22\x3A\x22\x3C\x3Fxml\x20version\x3D\x5C\x221.0\x5C\x22\x20encoding\x3D\x5C\x22utf\x2D8\x5C\x22\x3F\x3E\x5Cn\x3C\x21\x2D\x2D\x20Generator\x3A\x20Adobe\x20Illustrator\x2016.2.1,\x20SVG\x20Export\x20Plug\x2DIn\x20.\x20SVG\x20Version\x3A\x206.00\x20Build\x200\x29\x20\x20\x2D\x2D\x3E\x5Cn\x3C\x21DOCTYPE\x20svg\x20PUBLIC\x20\x5C\x22\x2D\x5C\x2F\x5C\x2FW3C\x5C\x2F\x5C\x2FDTD\x20SVG\x201.1\x20Basic\x5C\x2F\x5C\x2FEN\x5C\x22\x20\x5C\x22http\x3A\x5C\x2F\x5C\x2Fwww.w3.org\x5C\x2FGraphics\x5C\x2FSVG\x5C\x2F1.1\x5C\x2FDTD\x5C\x2Fsvg11\x2Dbasic.dtd\x5C\x22\x3E\x5Cn\x3Csvg\x20version\x3D\x5C\x221.1\x5C\x22\x20baseProfile\x3D\x5C\x22basic\x5C\x22\x20id\x3D\x5C\x22Ebene_1\x5C\x22\x5Cn\x5Ct\x20xmlns\x3D\x5C\x22http\x3A\x5C\x2F\x5C\x2Fwww.w3.org\x5C\x2F2000\x5C\x2Fsvg\x5C\x22\x20xmlns\x3Axlink\x3D\x5C\x22http\x3A\x5C\x2F\x5C\x2Fwww.w3.org\x5C\x2F1999\x5C\x2Fxlink\x5C\x22\x20x\x3D\x5C\x220px\x5C\x22\x20y\x3D\x5C\x220px\x5C\x22\x20width\x3D\x5C\x22100px\x5C\x22\x20height\x3D\x5C\x22100px\x5C\x22\x5Cn\x5Ct\x20viewBox\x3D\x5C\x220\x200\x20100\x20100\x5C\x22\x20xml\x3Aspace\x3D\x5C\x22preserve\x5C\x22\x3E\x5Cn\x3Crect\x20x\x3D\x5C\x2211\x5C\x22\x20y\x3D\x5C\x2211.291\x5C\x22\x20width\x3D\x5C\x2238\x5C\x22\x20height\x3D\x5C\x2211.348\x5C\x22\x5C\x2F\x3E\x5Cn\x3Crect\x20x\x3D\x5C\x2211\x5C\x22\x20y\x3D\x5C\x2227.952\x5C\x22\x20width\x3D\x5C\x2264\x5C\x22\x20height\x3D\x5C\x2211.347\x5C\x22\x5C\x2F\x3E\x5Cn\x3Crect\x20x\x3D\x5C\x2211\x5C\x22\x20y\x3D\x5C\x2244.612\x5C\x22\x20width\x3D\x5C\x2280\x5C\x22\x20height\x3D\x5C\x2211.347\x5C\x22\x5C\x2F\x3E\x5Cn\x3Crect\x20x\x3D\x5C\x2211\x5C\x22\x20y\x3D\x5C\x2261.272\x5C\x22\x20width\x3D\x5C\x2254\x5C\x22\x20height\x3D\x5C\x2211.348\x5C\x22\x5C\x2F\x3E\x5Cn\x3Crect\x20x\x3D\x5C\x2211\x5C\x22\x20y\x3D\x5C\x2277.933\x5C\x22\x20width\x3D\x5C\x2243\x5C\x22\x20height\x3D\x5C\x2211.348\x5C\x22\x5C\x2F\x3E\x5Cn\x3C\x5C\x2Fsvg\x3E\x5Cn\x22,\x22hasCSS\x22\x3Atrue,\x22locale\x22\x3A\x5B\x5D\x7D'),
        metricPrefix: JSON.parse('\x7B\x223\x22\x3A\x22k\x22,\x226\x22\x3A\x22m\x22,\x229\x22\x3A\x22b\x22,\x2212\x22\x3A\x22t\x22\x7D'),
        lang: 'es',
        data: "Etiquetas de fila\t2010\t2011\t2012\t2013\t2014\t2015\tTotal general\nGAM Santa Cruz \t1345408.4\t4575463.45\t4868557.2\t11060770\t25258391.29\t26551710.7\t67739429.19\nYPFB\t8564055.27\t10488189.8\t17463400.47\t20402159.4\t2982227.19\t2705800\t62605832.13\nMinisterio de Educaci\u00f3n \t9853908.3\t2802008.48\t4925790.69\t5919176.42\t8827272.33\t1536728.6\t33864884.82\nAgencia Nacional de Hidrocarburos \t1300000\t286850\t3666885.96\t16047352.28\t7376661.9\t292300\t28970050.14\nASFI\t893842.49\t504049.05\t1440810.8\t6070486.77\t5427908.47\t5938034.2\t20275131.78\nDirecci\u00f3n Nacional de Comunicaci\u00f3n Social \t13554580\t6560709.2\t\t\t\t\t20115289.2\nGAM La Paz\t4203775.86\t3635377.59\t4811590.12\t6333931.4\t8325411.2\t485695.4\t19956628.12\nMinisterio de Comunicaci\u00f3n \t\t4969382.12\t4982102.02\t76900\t8152879\t330500\t18511763.14\nOrgano Electoral Plurinacional \t\t\t1449417.96\t4389689.98\t7771305\t286000\t13896412.94\nGAM El Alto \t\t\t2734488\t4623897.6\t3721630\t2724457.6\t13804473.2\nGobernaci\u00f3n Santa Cruz \t\t\t3340363.5\t3008870\t4896431.38\t298118\t11543782.88\nServicio de Impuestos Nacionales \t452191.98\t1603877.32\t1866256\t4549349.67\t1343750\t133958\t9949382.97\nGAM Cochabamba \t\t50000\t1924890\t1376915.76\t1725000\t3622000\t8648805.76\nMinisterio de Econom\u00eda\t233329.8\t1586706.28\t1282266.25\t1782163.03\t2245975.54\t1076661.87\t8207102.77\nBanco Central de Bolivia \t1802851.69\t912866.71\t783196.45\t1166213.71\t3074698.4\t348075\t8087901.96\nEmpresa Municipal de Aseo Santa Cruz \t\t1669809\t2828817.78\t1778181.4\t1105685\t\t7382493.18\nMinisterio de Salud y Deportes\t1169652.86\t2214703\t463573.88\t3460664.29\t4685361.98\t740442.38\t7308594.03\nEMAPA\t2692121.13\t1862375.6\t967575.4\t\t\t\t5522072.13\nAPS\t\t708762.69\t3681020.4\t166128\t423710.5\t\t4979621.59\nATT\t4730548\t\t\t\t\t\t4730548\nUCPP \t419839.99\t640365.7\t621093.16\t1665466.74\t1224273.31\t\t4571038.9\nGobernaci\u00f3n Cochabamba \t\t\t275597.55\t1980815.01\t1747555.33\t390348\t4394315.89\nMinisterio de Obras Publicas, Servicios y Viviendas\t\t\t3180919.68\t528700\t252027.44\t58080\t4019727.12\nMinisterio de Culturas \t40000\t145216.44\t1168706.08\t975658.6\t1035360\t\t3364941.12\nVicepresidencia del Estado \t\t520528.6\t434879.64\t1097000.4\t1005165\t98590\t3156163.64\nGobernaci\u00f3n La Paz\t\t785388.84\t282391.2\t1409482.86\t584093.4\t\t3061356.3\nABC\t\t\t743328\t1658615.5\t253638.4\t82757\t2738338.9\nPro Bolivia \t\t\t\t1619746.95\t\t\t1619746.95\nContraloria General del Estado \t\t163800\t562824\t685160\t202520\t\t1614304"
    });

    </script>



			</div>

    </div><! --/row -->

   </div><! --/container -->





