  <!-- *****************************************************************************************************************
   BLUE WRAP
   ***************************************************************************************************************** -->
  <div id="blue">
      <div class="container">
      <div class="row">
        <h3 style="float: right;">Publicación <%= @contract.origin_id %>.</h3>
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /blue -->

    <!-- *****************************************************************************************************************
   TITLE & CONTENT
   ***************************************************************************************************************** -->

   <div class="container mt">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-1">
        <h2>Entidad Contratante:</h2>
        <p style="font-size: 22px;"><%= @contract.entity.name %></p>
        <h2>Objeto del proyecto:</h2>
        <p style="font-size: 22px;"><%= @contract.description.camelize %></p>
      </div>
      <div class="col-lg-3">
        <h4>Detalles</h4>
        <div class="hline"></div>
        <p><b>Estado:</b><%= @contract.status.name  %></p>
        <p><b>Fecha publicacion:</b><%= @contract.publication_date  %></p>
        <p><b>Fecha presentacion:</b><%= @contract.presentation_date  %></p>

        <h4>Formularios</h4>
        <div class="hline"></div>
        <% @contract.contract_forms.each do |form|  %>
          <a href="https://www.sicoes.gob.bo/<%= form.link %>" target="_blank"><%= form.name %></a>
        <% end %>
        <h4>Documentos</h4>
        <div class="hline"></div>

        <% @contract.contract_documents.each do |form|  %>
          <a href="https://www.sicoes.gob.bo/<%= form.link %>" target="_blank"><%= form.name %></a>
        <% end %>

        <br>
        <br>
      </div>
      
    </div><!--/row -->
   </div><!--/container -->