<style>
  .timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}
</style>
  <!-- *****************************************************************************************************************
   BLUE WRAP
   ***************************************************************************************************************** -->
  <div id="blue">
      <div class="container">
      <div class="row">
        <h3 style="float: right;">Publicación <%= @contract.origin_id %>.</h3>
      </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /blue -->

    <!-- *****************************************************************************************************************
   TITLE & CONTENT
   ***************************************************************************************************************** -->

   <div class="container mt">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-1">
        <h2>Entidad Contratante:</h2>
        <p style="font-size: 22px;"><%= @contract.entity.name %></p>
        <h2>Objeto del proyecto:</h2>
        <p style="font-size: 22px;"><%= @contract.description.camelize %></p>


    <% if (@contract.applying_companies.count > 0) %>


        <div class="page-header">
            <h1>Empresas aplicantes</h1>
        </div>

        <table class="table table-striped">
            <tr>
                <th>
                    Empresa
                </th>
                <th>
                    Tipo
                </th>
            </tr>
            <% @contract.applying_companies.each do |applying_company| %>
            <tr>
                <td><%= link_to applying_company.company.name,  applying_company.company  %></td>
                <td><%= applying_company.company.company_type  %></td>
            </tr>
            <% end %>
        </table>

        <% end %>


        <% if (@contract.contracted_companies.count > 0) %>


            <div class="page-header">
                <h1>Empresas contratadas</h1>
            </div>

            <table class="table table-striped">
                <tr>
                    <th>
                        Empresa
                    </th>
                    <th>
                        Fecha contrato
                    </th>
                    <th>
                        Monto contrato
                    </th>
                    <th>
                        Moneda
                    </th>
                    <th>
                        Cambio moneda
                    </th>
                </tr>
                <% @contract.contracted_companies.each do |contracted_company| %>
                    
                <tr>
                    <td><%= contracted_company.company.name  %></td>
                    <td><%= contracted_company.contract_date  %></td>
                    <td><%= contracted_company.contract_amount  %></td>
                    <td><%= contracted_company.currency  %></td>
                    <td><%= contracted_company.exchange  %></td>
                </tr>


                <% end %>

            </table>

            <% end %>

        <% if (@contract.contract_budget_items.count > 0) %>


            <div class="page-header">
                <h1>Items contratados</h1>
            </div>

            <table class="table table-striped">
                <tr>
                    <th>
                        Item
                    </th>
                    <th>
                        Sub-item
                    </th>
                    <th>
                        Precio unidad
                    </th>
                    <th>
                        Medida
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Total Item
                    </th>
                    <th>
                        Origin
                    </th>
                </tr>
                <% @contract.contract_budget_items.each do |contracted_budget_item| %>
                    <tr>
                        <td><%= contracted_budget_item.budget_item.name  %></td>
                        <td><%= contracted_budget_item.description  %></td>
                        <td><%= contracted_budget_item.unit_price  %></td>
                        <td><%= contracted_budget_item.quantity_type  %></td>
                        <td><%= contracted_budget_item.quantity  %></td>
                        <td><%= contracted_budget_item.total  %></td>
                        <td><%= contracted_budget_item.origin  %></td>
                    </tr>
                <% end %>

            </table>

            <% end %>
<!--
 <div class="page-header">
        <h1 id="timeline">Cronograma</h1>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Publicacion</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-date"></i>hacer 3 dias</small></p>
            </div>
            <div class="timeline-body">
              <p>Documento convocatoria</p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Pliego petitorio</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-date"></i>11/07/2015</small></p>
            </div>
            <div class="timeline-body">
              
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Reuni&oacute;n</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-date"></i>11/08/2015</small></p>
            </div>
            <div class="timeline-body">
              <p></p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Resultado contrataci&oacute;n</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-date"></i>11/08/2015</small></p>
            </div>
            <div class="timeline-body">
              <p></p>
            </div>
          </div>
        </li>


    </ul>
  -->
      </div>
      <div class="col-lg-3">
        <h4>Detalles</h4>
        <div class="hline"></div>
        <p><b>Estado:</b><%= @contract.status.name  %></p>
        <p><b>Fecha publicacion:</b><%= @contract.publication_date  %></p>
        <p><b>Fecha presentacion:</b><%= @contract.presentation_date  %></p>
        <p><b>Monto especificado:</b><%= @contract.specified_amount  %></p>
        <p><b>Monto contratado:</b><%= @contract.contracted_amount  %></p>
        <h4>Formularios</h4>
        <div class="hline"></div>
        <% @contract.contract_forms.each do |form|  %>
          <a href="https://www.sicoes.gob.bo/<%= form.link %>" target="_blank"><%= form.name %></a> <br>
        <% end %>
        <h4>Documentos</h4>
        <div class="hline"></div>
        <% @contract.contract_documents.each do |form|  %>
          <a href="https://www.sicoes.gob.bo/<%= form.link.gsub("\')","") %>" target="_blank"><%= form.name %></a> <br>
        <% end %>
        <br>
        <br>
      </div>
      
    </div><!--/row -->
   </div><!--/container -->