<div id="blue">
  <div class="container">
  <div class="row">
    <h3 style="float: right;">Contratos.</h3>
  </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /blue -->

<%= link_to "Get CSV", url_for(format: 'csv')  %>

<%= datagrid_form_for @grid, :method => :get, :url => contract_reports_path %>

<%= will_paginate(@grid.assets) %>
<%= datagrid_table @grid %>
<%= will_paginate(@grid.assets) %>
